# Arquivos compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/
.venv/

# Configurações do editor/IDE
.vscode/
.idea/

# Cache e logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos do Docker
*.pid

# Arquivos do projeto (se necessário)
skinsDatabase.csv
