version: "3.0"


services:
  app: 
    build: .
    container_name: lista_skins_cs2-flask
    ports: 
      - "5000:5000"
    environment:
      - OTEL_SERVICE_NAME=lista_skins_cs2-flask
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
    depends_on:
      - otel-collector 
    networks:
      - observability-network


  otel-collector:
      image: otel/opentelemetry-collector-contrib:latest
      container_name: otel-collector
      volumes:
        - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
      ports:
        - "4317:4317"   # OTLP gRPC receiver
        - "4318:4318" 
      networks:
        - observability-network
  
  loki:
    image: grafana/loki:latest
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki
    networks:
      - observability-network

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: -config.file=/etc/tempo/local-config.yaml
    ports:
      - "3200:3200"
    volumes:
      - tempo-data:/var/tempo
      - tempo-data:/tempo
    networks:
      - observability-network
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    depends_on:
      - loki
      - tempo
    networks:
      - observability-network

networks:
  observability-network:

volumes:
  loki-data:
  tempo-data: